@charset "utf-8";
/****************************************************************基本結構*/
/*HTML標籤樣式*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 1.8em;
	letter-spacing: 0.1em;
	color: #555;
	margin: 0px;
	padding: 0px;
	word-break: break-all; /*連續英文字母強制換行*/
}
h1, h2, h3, h4, h5, h6, dl, dt, dd {
	padding: 0px;
	margin: 0px;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
}
form {
	padding: 0px;
	margin: 0px;
}
form, input, select, textarea {
	letter-spacing: 1px;
	margin: 0px;
	resize: none; /*禁止調整大小*/
}
hr {
	border: none;
	border-bottom: 1px solid #CCC;
}
/****************************************************************Page*/
#Page {
	/* 不固定寬度*/
	max-width: 960px;
	min-width: 320px;
	/* 固定寬度 */
	/* width: 960px; */
	margin: 10px auto;
}
/****************************************************************Header*/
#Header {
}
#Header div.fields_3 {
	width: 320px;
}
/*Logo*/
#Header h1 {
	position: absolute;
	top: 10px;
	width: 140px;
	height: 70px;
	line-height: 300px;
	display: block;
	overflow: hidden;
	background: url(images/icons.png) no-repeat 0px -440px;
}
#Header h1 a {
	display: block;
}
/*Search*/
#Search {
	padding: 5px 0px;
}
#Search_bar {
	border: 1px solid #CCC;
	margin: 0px;
	padding: 4px;
	width: 240px;
	height: 30px;
	color: #666;
}
#Search_btn {
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 0px;
	color: #FFF;
	width: 40px;
	height: 40px;
	border: none;
	cursor: pointer;
	background: url(images/icons.png) no-repeat -260px -110px;
}
#Search_btn:hover, #Search_btn:active {
	background-position: -260px -65px;
}
/*Btns*/
#Btns {
	padding: 5px 0px;
	margin: 0px;
	list-style: none;
	float: right;
}
#Btns li {
	float: left;
	width: 50px;
}
#Btns li a {
	width: 40px;
	height: 40px;
	line-height: 300px;
	display: block;
	float: right;
	overflow: hidden;
	background: url(images/icons.png) no-repeat;
}
#Btns li.btn_route a {
	background-position: -145px -435px;
}
#Btns li.btn_route a:hover, #Btns li.btn_route a:active, #Btns li.btn_route a.active {
	background-position: -145px -475px;
}
#Btns li.btn_point a {
	background-position: -190px -435px;
}
#Btns li.btn_point a:hover, #Btns li.btn_point a:active, #Btns li.btn_point a.active {
	background-position: -190px -475px;
}
#Btns li.btn_area a {
	background-position: -235px -435px;
}
#Btns li.btn_area a:hover, #Btns li.btn_area a:active, #Btns li.btn_area a.active {
	background-position: -235px -475px;
}
/*Cart*/
#Cart {
	position: relative;
	top: -30px;
	z-index: 5;
}
/*感應按鈕*/
#CartLine1 { 
}
/*隱藏區塊*/
#CartList1 {
	display: none; 
}
#CartLine1, #CartList1 {
	position: absolute;
	top: 0px;
	right: 10px;
}
#CartLine1 .btn, #CartList1 .btn.btn1 {
	color: #FFF;
	font-size: 14px;
	padding: 0px 10px;
	margin: 0px;
	width: 230px;
	height: 30px;
	line-height: 30px;
}
#CartList1 .btn.btn1.fillet_top, #CartList1 .btn.btn1.fillet_top:hover {
	cursor: auto;
	background-color: inherit;
}
#CartList1 .btn.btn1.fillet_bottom {
	text-align: center;
}
#CartList1 { /*常駐清單*/
	width: 250px;
	line-height: 25px;
	background: #BBB;
}
#CartList1 ol {
	float: left;
	width: 180px;
	padding: 15px 15px 15px 35px;
	margin: 10px;
	color: #666666;
	background: #FFF;
}
#CartList1 ol li {
	padding: 0px;
	margin: 0px;
}
#CartList1 ol li a {
	display: block;
}

/****************************************************************Main*/
#Main {
}
#Main > .block > div.fields_2 {
	min-width: 300px;
}
#Main > div.fields_3, #Main .fields_3box > div.fields_3 {
	min-width: 320px;
}
#Main .selecter div.fields_3 {
	min-width: 300px;
}
/*Sidebar*/
#Sidebar {
}

/*Content*/
#Content {
}

/*Breadcrumb*/
#Breadcrumb {
	margin-bottom: 15px;
}

/*Map*/
#Mapbox {
	position: relative;
}
#Map {
	position: relative;
	z-index: 1;
}
#Map_btn {
	position: absolute;
	z-index: 2;
	background: #000;
	padding: 0px 5px;
}
#Map_btn a {
	color: #FFF;
}

/*TabBox*/
#TabBox {
	position: relative;
	width: 100%;
}
#TabBox h2.title, #TabBox h3.title {
	margin: 0px;
}
#TabBox1_tabline { /*TabBox_tabline*/
	width: 100%;
	float: left;
	padding-bottom: 15px;
	border-bottom: 1px solid #C8C8C8;
}
#TabBox2_tabline {
	width: 100%;
	float: left;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #dfdfdf 96%, #c8c8c8 96%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(96%,#dfdfdf), color-stop(96%,#c8c8c8));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#dfdfdf 96%,#c8c8c8 96%);
	background: -o-linear-gradient(top,  #ffffff 0%,#dfdfdf 96%,#c8c8c8 96%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#dfdfdf 96%,#c8c8c8 96%);
	background: linear-gradient(top,  #ffffff 0%,#dfdfdf 96%,#c8c8c8 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );
	/*background: url(images/line4.png) repeat-x 0px 0px;*/
}
#TabBox1_tab1, #TabBox1_tab2, #TabBox1_tab3, #TabBox2_tab1, #TabBox2_tab2, #TabBox2_tab3 {
	color: #000;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	width: 90px;
	height: 35px;
	float: left;
	cursor: pointer;
	margin-right: 15px;
	background: url(images/icons.png) no-repeat -105px -110px;
}
#TabBox1_tab3 {
	margin-right: 0px;
}
#TabBox2_tab1, #TabBox2_tab2, #TabBox2_tab3 {
	width: 100px;
	margin: 0px;
	background: url(images/icons.png) no-repeat 0px -520px;
}
#TabBox_note {
	height: 35px;
	min-width: 300px;
}
#TabBox_note .table-cell_middle {
	padding-left: 10px;
	padding-right: 10px;
}
#TabBox1_contentbox, #TabBox2_contentbox { /*TabBox_contentbox*/
	width: 100%;
	float: left;
}

#TabBox .fields_bg1 { /*高80px分隔一條線*/
	background: url(images/line2.png);
}
#TabBox .fields_bg1 .fields_4 {
	width: 235px;
}
#TabBox .fields_4 .block {
	margin: 15px 5px 15px 0px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
	position: relative;
}
#TabBox .fields_4 .spot_arrow {
	position: absolute;
	top: 18px;
	right: 0px;
	width: 5px;
	height: 9px;
	display: block;
	background: url(images/icons.png) no-repeat -250px -30px;
}

#TabBox > .block { /*滿版tabs的Tabline外面包的block*/
	margin-bottom: 0px;
}
#TabBox .fields_3box { /*三欄式資料列表列*/
}
#TabBox .fields_3box .fields_3 .block {
	height: 230px;
	margin: 20px 10px 5px 10px;
}
#TabBox .fields_3box.fields_h_s .block {
	height: 170px;
}
#TabBox .fields_3box .fields_3 p {
	margin: 5px 0px;
	height: 75px;
	line-height: 25px;
	display: block;
	overflow: hidden;
}
#TabBox .fields_3box .fields_4 {
	width: 297px;
	padding: 5px;
	line-height: 22px;
	border: 1px solid #C8C8C8;
	border-right-width: 2px;
	border-bottom-width: 2px;
}
#TabBox .fields_3box ul.list1 {
	margin-top: 10px;
}
#TabBox .fields_3box.fields_h_s ul.list1 {
	margin-top: 0px;
}
#TabBox .fields_3box ul.list1 li {
	margin-right: 5px;
}

#TabBox .fields_2box { /*兩欄式資料列表列*/
}
#TabBox .fields_2box .fields_2 > .block {
	padding: 14px;
	margin: 20px 10px 5px 10px;
}
#TabBox .fields_2box .fields_2 {
	min-width: 320px;
}
#TabBox .fields_2box .fields_2 ul.list1.float-r {
	width: 270px;
}
#TabBox .fields_2box .fields_2 ul.list1 li {
	margin-right: 5px;
}
#TabBox .fields_2box .fields_2 ul.list1 li a.icon {
	padding-left: 24px;
}
#TabBox .fields_2box .fields_2 ul.list1 li:last-child{
	margin-right: 0px;
}

#TabBox .img-s {
	width: 45px;
	height: 45px;
	line-height: 45px;
}
#TabBox .img-s img {
	max-width: 45px;
	max-height: 45px;
}

#TabBox1_content1, #TabBox1_content2, #TabBox1_content3, #TabBox2_content1, #TabBox2_content2, #TabBox2_content3 {
	width: 100%;
	float: left;
	display: none;
}
#TabBox h5 > div, #TabBox h5 > a, #TabBox h5 > span {
	position: absolute;
	z-index: auto;
	top: 0px;
	width: 90px;
	height: 35px;
	display: block;
	color: #FFF;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	background: url(images/icons.png) no-repeat 0px -110px;
}
#TabBox1_content1 h5 a {
	left: 0px;
}
#TabBox1_content2 h5 a {
	left: 105px;
}
#TabBox1_content3 h5 a {
	left: 210px;
}
#TabBox2_contentbox h5 > div, #TabBox2_contentbox h5 > a, #TabBox2_contentbox h5 > span {
	color: #000;
	width: 102px;
	background: url(images/icons.png) no-repeat -100px -520px;
}
#TabBox2_content1 h5 > span, #TabBox2_content1 h5 > div {
	left: 0px;
}
#TabBox2_content2 h5 > span, #TabBox2_content2 h5 > div {
	left: 98px;
}
#TabBox2_content3 h5 > span, #TabBox2_content3 h5 > div {
	left: 198px;
}
#Main > #TabBox #TabBox2_content1 h5 > div {
	left: 10px;
}
#Main > #TabBox #TabBox2_content2 h5 > div {
	left: 108px;
}
#Main > #TabBox #TabBox2_content3 h5 > div {
	left: 208px;
}

/*InfoBox*/
#InfoBox {
	position: absolute;
	z-index: 4;
	right: 0px;
}
#InfoBox_tabline, #InfoBox_contentbox h5 { /*InfoBox_tabline*/
	width: 200px;
	height: 31px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}
#InfoBox_tab1, #InfoBox_tab2, #InfoBox_contentbox h5 {
	width: 80px;
	height: 31px;
	padding: 0px 10px;
	float: left;
	text-align: center;
	cursor: pointer;
}
#InfoBox_tab1 > div:after, #InfoBox_tab2 > div:after, #InfoBox_contentbox h5 > div:after {
	content: ' ';
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	margin: 6px 0px 0px 0px;
}
#InfoBox div.info_btn1:after {
	background: url(images/icons.png) no-repeat -260px -25px;
}
#InfoBox div.info_btn2:after {
	background: url(images/icons.png) no-repeat -280px -25px;
}
#InfoBox div.info_btn3:after {
	background: url(images/icons.png) no-repeat -280px -45px;
}
#InfoBox div.info_btn4:after {
	background: url(images/icons.png) no-repeat -210px -50px;
}
#InfoBox div.info_btn5:after {
	background: url(images/icons.png) no-repeat -260px -45px;
}
#InfoBox_contentbox { /*InfoBox_contentbox*/
	width: 200px;
	background: #FFF;
	line-height: 25px;
}
#InfoBox_content1, #InfoBox_content2 {
	padding: 9px;
	border: 1px solid #C8C8C8;
	border-top: none;
	display: none;
	overflow: hidden;
}
#InfoBox h5 {
	color: #000;
	position: absolute;
	line-height: 30px;
	background: url(images/icons.png) no-repeat 0px -555px;
}
#InfoBox_content1 h5 {
	top: 0px;
	left: 0px;
}
#InfoBox_content2 h5 {
	top: 0px;
	left: 100px;
}
/****************************************************************Footer*/
#Footer {
	position: relative;
	margin-bottom: 30px;
}
#Footer .line {
	padding: 10px 0px;
}
#Footer p {
	margin: 10px;
}
#Footer a.btn_top {
	position: absolute;
	right: 10px;
	top: 15px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 15px;
	background: #FFF;
	display: block;
	border: 1px solid #CCC;
	border-top: none;
}
#Footer a.btn_top:hover {
	color: #A52C25;
	text-decoration: none;
}
